<h1>Les cocktails avec du <%= @ingredient.name %> sont :</h1>
<ul>
  <% @ingredient.cocktails.each do |cocktail| %>
    <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>